## 新能源电动汽车动力电池充电能量预测（八）——导入数据库

In [3]:
import pandas as pd 
from sklearn import metrics
import numpy as np
from package import utils

### 根据数据库字段导出填充后的数据，方便直接导入数据库

In [11]:
# 数据库需要的字段
header = ['vehicle_id','charge_start_time','charge_end_time','mileage',
          'charge_start_soc','charge_end_soc','charge_start_U','charge_end_U',
          'charge_start_I','charge_end_I','charge_max_temp','charge_min_temp','charge_energy']
# 导入填充后的数据集
dataset_train_test = pd.read_csv('./energy_predict_data/data_prehandle/4_fill_null/whole/filled_by_kmeans/predict_data_e_train.csv')
dataset_train_test = dataset_train_test[header]
# 数据集大小
count = (int)(np.max(dataset_train_test['vehicle_id']))
# 数据描述
pd.set_option('precision', 2)
dataset_train_test.describe()

,vehicle_id,charge_start_time,charge_end_time,mileage,charge_start_soc,charge_end_soc,charge_start_U,charge_end_U,charge_start_I,charge_end_I,charge_max_temp,charge_min_temp,charge_energy
count,5990.00,5.99e+03,5.99e+03,5990.00,5990.00,5990.00,5990.00,5980.00,5990.00,5980.00,5990.00,5990.00,5990.00
mean,11.37,2.02e+13,2.02e+13,103588.11,35.57,76.56,405.94,436.13,-43.74,-22.32,27.19,15.18,25.94
std,6.45,4.00e+09,4.00e+09,30819.13,19.37,26.82,91.53,87.88,48.22,35.36,10.62,11.55,21.24
min,1.00,2.02e+13,2.02e+13,45631.70,0.00,4.80,252.30,0.00,-202.00,-400.00,-2.00,-7.00,0.22
25%,5.00,2.02e+13,2.02e+13,78704.15,20.80,55.25,340.40,374.60,-59.80,-20.40,18.00,5.00,12.64
50%,11.00,2.02e+13,2.02e+13,97276.05,34.00,87.00,361.50,391.60,-24.00,-9.30,30.00,14.00,19.61
75%,17.00,2.02e+13,2.02e+13,122780.75,47.00,100.00,533.70,551.70,-9.00,-5.00,35.00,25.00,29.56
max,21.00,2.02e+13,2.02e+13,182536.00,96.00,110.49,574.60,604.70,-0.10,8.00,52.00,46.00,103.72

### 定义数据处理的类型：1.with_fill（使用填充数据）；2.without_fill（不使用填充数据）

In [12]:
type = 1

### 导出预测表，注意外键的限制。

#### 先获取外键

In [18]:
ref_key_list = []
for i in range(1, count+1):
    data_vehicle = dataset_train_test[dataset['vehicle_id'] == i]
    index_list = data_vehicle.index.tolist()
    ref_key = index_list[int(0.75*len(data_vehicle)):len(data_vehicle)]
    for i in range(len(ref_key)):
        ref_key_list.append(ref_key[i])
len(ref_key_list)

1506

#### 导入预测数据

In [20]:
dataset_predict = pd.read_csv('./energy_predict_data/predict_result/model_score_%s.csv' % utils.getType(type))
# 数据描述
pd.set_option('precision', 2)
dataset_predict.describe()

       svr_lr  svr_rbf   dtr   rtr    etr    abr    br    gbr   xgbr   mlpr
count    6.00     6.00  6.00  6.00   6.00   6.00  6.00   6.00   6.00   6.00
mean    23.14    17.44  4.22  3.48   3.59  19.84  3.24   3.87   3.77   6.19
std     30.51    26.09  4.15  3.50   3.68  31.86  3.20   3.98   3.86   7.68
min      0.54     0.74  0.91  0.91   0.91   0.38  0.92   0.88   0.89   0.79
25%      1.89     1.79  1.08  1.04   1.05   1.75  1.04   1.14   1.14   1.31
50%      6.60     6.42  2.23  1.81   1.83   4.67  1.73   2.07   2.02   2.70
75%     44.76    18.56  7.79  4.96   5.07  21.25  4.46   5.44   5.18   7.95
max     67.32    68.23  9.59  9.55  10.02  81.74  8.89  10.83  10.60  20.41

#### 预测表所需字段

In [ ]:
columns_pred = ['id', 'type', 'lr', 'plr', 'svr_lr', 'svr_lr',
           'svr_rbf', 'dtr', 'rtr', 'etr', 'abr', 'br', 
           'gbr', 'xgbr', 'mlpr', 'bpr']

### 构造预测表的数据